@media screen and (max-width: 440px){
	
header h1{
	float: left;
	font-size: 3em;
}
header h2{
	float: left;
	font-size: 2em;
}
div#logo-links{
	margin-bottom: 0;
	margin-top: 20%;
}
img#facebook-logo, img#linkedin-logo, img#twitter-logo{
	clear: left;
	margin-right: 2%;
	height: 6%;
	width: 6%;
}
nav#left-nav{
	position: fixed;
	background-color: black;
	height: 68%;
	/*height: 100%;*/
	max-width: 4%;
	/*top: 29%;*/
	top: 15%;
	padding-top: 10%;
	/*top: 40%;*/
}
nav#left-nav a{
	color: white;
	display: block;
	font-size: 1.3em;
	text-decoration: none;
	margin-top: 5em;
	transform: rotate(-90deg);
}




}
@media screen and (min-width: 440px){

}


/*Header:
	1. Slide the heading on left and Developer under the heading
	2. 

Portfolio
	
Contact:
	1. */
