@media screen and (max-width: 360px){
html body{
	padding: 0;
	margin: 0;
	
}
header h1{
	float: left;
	font-size: 2em;
}
header h2{
	clear: left;
	float: left;
	font-size: 2em;
	border: none;
}
div#logo-links{
	margin-bottom: 0;
	margin-top: 19%;
	
}
img#facebook-logo, img#linkedin-logo, img#twitter-logo{
	clear: left;
	margin-right: 2%;
	height: 5%;
	width: 8%;
}
nav#left-nav{
	/*position: fixed;*/
	/*background-color: black;*/
	/*height: 68%;*/
	/*height: 100%;*/
	/*max-width: 4%;*/
	/*top: 29%;*/
	/*top: 15%;*/
	/*padding-top: 10%;*/
	/*top: 40%;*/
	display: none;
}
nav#left-nav a{
/*	color: white;
	display: block;
	font-size: 1.3em;
	text-decoration: none;
	margin-top: 5em;
	transform: rotate(-90deg);*/
	display: none;
}
section#portfolio figure{
	max-width: 100%;
	max-height: 30%;
	float: left;
	margin-left: 0;
	padding-left: 0;
}
section#profile{
	clear: both;
	max-width: 100%;
	text-align: center;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}
img#my-image{
	height: 50%;
	width: 50%;
	margin-left: 0;
	
}
section#contact p{
	padding-top: .5em;

}
section#contact p a{
	margin-left: 5%;
	color: red;
	font-size: 1em;
}
}
@media (min-width: 361px) and (max-width: 768px){
html body{
	padding: 0;
	margin: 0;	
}
header h1{
	font-size: 5em;
	text-align: center;
	margin-bottom: 0;
	font-family: 'Caudex', serif;
	font-weight: bold;
}
header h2{
	margin-bottom: 0;
	text-align: center;
	font-family: 'Caudex', serif;
	border-bottom: 15px solid black;
}
div#logo-links{
	margin-bottom: 0;
	margin-top: 2%;
	display: none;	
}
img#facebook-logo, img#linkedin-logo, img#twitter-logo{
	clear: left;
	margin-right: 2%;
	height: 3%;
	width: 3%;
	display: none;
}
nav#left-nav{
	/*position: fixed;
	background-color: black;*/
	/*height: 68%;*/
	/*height: 100%;*/
	/*max-width: 4%;*/
	/*top: 29%;*/
	/*top: 15%;
	padding-top: 10%;*/
	/*top: 40%;*/
	display: none;
}
nav#left-nav a{
	/*color: white;
	display: block;
	font-size: 1.3em;
	text-decoration: none;
	margin-top: 5em;
	transform: rotate(-90deg);*/
	display: none;
}
section#portfolio figure{
	max-width: 48%;
	max-height: 30%;
	float: left;
	margin-left: 1.5%;
	padding-left: 0;	
}
section#profile{
	clear: both;
	max-width: 100%;
	text-align: center;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}
img#my-image{
	height: 30%;
	width: 30%;
	margin-left: 15%;
}
section#contact p{
	padding-top: 1.5em;
}
section#contact p a{
	margin-left: 10%;
	color: red;
	font-size: 1.5em;
}
}


/*Header:
	1. Slide the heading on left and Developer under the heading
	2. 

Portfolio
	
Contact:
	1. */
